# Папки с виртуальным окружением
venv/
.env

# Кэш Python
__pycache__/
*.py[cod]

# Папки IDE
.vscode/
.idea/

# Данные (если они тяжелые или конфиденциальные)
data/raw/
*.xlsx

data/processed/
*.csv

# Ноутбуки (чекпоинты)
.ipynb_checkpoints/

# LaTeX (оставляем только PDF и, если нужно, .tex)
*.aux
*.fdb_latexmk
*.fls
*.gz
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb

# Если вы хотите, чтобы в репозитории лежал ТОЛЬКО PDF, раскомментируйте строку ниже:
*.tex



